@charset "UTF-8";

/* 
    레이아웃 설정
*/

/* 헤더의 정렬레이아웃과 gnav 그리고 footer속의 inner   */
.inner{
    width: 940px;
    margin: 0 auto;
}

body{
    border-top: 5px solid saddlebrown;
    background:url(/포켓몬/106시라소몬.png);
}