:root{
    /* color */
    --white-color:#fff;
    --black-color:#fff;
    --blue-color:#fff;
    --red-color:#ff0000;
    --grey-dark-color:909090;
    --grey-light-color:e0e0e0;
    /* size */

    --side-padding:12px;
    --avatar-size:36px;

    /* font size */
    --font-large:18px
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
    
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    font-family: Roboto;

}

header{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color:black  ;
    color: var(--white-color);
}

header.logo{
    font-size: var(--font-large);
}

header.logo i{
    color: var(--red-color);
}

header.icons.fa-search{
    margin-right: var(--padding);
}



/* video player    */
.player{
    text-align: center;
    background: black;
    position: sticky;
    top: 0;
  
  
}

.player video{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    /* max-width로 한계를 정해줌 */
}

.info{
    padding: var(--padding);
}

.hashtags{
    display: flex;    
    font-size: var(--font-small);
    color: var(--blue-color);
}